themes {
    otto {
        text_unselected {
            base 254 254 254
            background 44 55 70
            emphasis_0 61 174 233
            emphasis_1 247 192 104
            emphasis_2 156 83 198
            emphasis_3 67 205 189
        }
        text_selected {
            base 44 55 70
            background 247 112 103
            emphasis_0 61 174 233
            emphasis_1 247 192 104
            emphasis_2 156 83 198
            emphasis_3 67 205 189
        }
        ribbon_unselected {
            base 254 254 254
            background 50 62 79
            emphasis_0 61 174 233
            emphasis_1 247 192 104
            emphasis_2 156 83 198
            emphasis_3 95 125 205
        }
        ribbon_selected {
            base 44 55 70
            background 247 112 103
            emphasis_0 253 188 75
            emphasis_1 61 174 233
            emphasis_2 156 83 198
            emphasis_3 67 205 189
        }
        table_title {
            base 247 192 104
            background 44 55 70
            emphasis_0 61 174 233
            emphasis_1 156 83 198
            emphasis_2 67 205 189
            emphasis_3 254 254 254
        }
        table_cell_unselected {
            base 254 254 254
            background 44 55 70
            emphasis_0 61 174 233
            emphasis_1 247 192 104
            emphasis_2 156 83 198
            emphasis_3 95 125 205
        }
        table_cell_selected {
            base 44 55 70
            background 247 112 103
            emphasis_0 61 174 233
            emphasis_1 247 192 104
            emphasis_2 156 83 198
            emphasis_3 67 205 189
        }
        list_unselected {
            base 254 254 254
            background 44 55 70
            emphasis_0 61 174 233
            emphasis_1 247 192 104
            emphasis_2 156 83 198
            emphasis_3 95 125 205
        }
        list_selected {
            base 44 55 70
            background 247 112 103
            emphasis_0 253 188 75
            emphasis_1 61 174 233
            emphasis_2 156 83 198
            emphasis_3 67 205 189
        }
        frame_selected {
            base 247 112 103
            background 44 55 70
            emphasis_0 247 192 104
            emphasis_1 61 174 233
            emphasis_2 156 83 198
            emphasis_3 0 0 0
        }
        frame_highlight {
            base 247 192 104
            background 44 55 70
            emphasis_0 247 112 103
            emphasis_1 61 174 233
            emphasis_2 156 83 198
            emphasis_3 67 205 189
        }
        exit_code_success {
            base 156 83 198
            background 44 55 70
            emphasis_0 61 174 233
            emphasis_1 67 205 189
            emphasis_2 247 192 104
            emphasis_3 95 125 205
        }
        exit_code_error {
            base 67 205 189
            background 44 55 70
            emphasis_0 247 112 103
            emphasis_1 247 192 104
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 61 174 233
            player_2 247 112 103
            player_3 247 192 104
            player_4 156 83 198
            player_5 67 205 189
            player_6 95 125 205
            player_7 253 188 75
        }
    }
}
